html,
body {
   width: 100%;
   height: 100%;
   margin: 0px;
   background-color: whitesmoke;

}


/*--------------------------------------------Miscellaneous styles*/
h2 {
   color: white;
}

.lead {
   color: white;
}

.index-styles {
   margin-top: 180px;

}

/*--------------------------------------------Images&Cards*/

.thumbnail img {
   height: 392px;
   width: 100%;
   box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);
}


.card-riddle {
   box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);
}

.card-riddle,
.card-text-riddle {
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;

}

.card-body-riddle {
   padding: 5px;
}


.riddle-card {
   color: #fff;
   background-color: black;
}

/*--------------------------------------------Jumbotron styles*/

.style-one {
   margin-top: 20px;
   margin-bottom: 30px;
   color: #ffffff;
   background-image: url("../../static/img/butterfly.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.style-two {
   margin-top: 150px;
   margin-bottom: 30px;
   color: black;
   background-image: url("../../static/img/hia.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


/*--------------------------------------------Flash button styles*/
/* Found at https://bytutorial.com/blogs/css3/how-to-create-a-flashing-button-using-css3 */

.flash-button {
   background: #dc143c;
   padding: 5px 10px;
   color: #ffff00;
   border: none;
   border-radius: 5px;

   animation-name: flash;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;

   /* //Firefox 1+ */
   -webkit-animation-name: flash;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;

   /* //Safari 3-4 */
   -moz-animation-name: flash;
   -moz-animation-duration: 1s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
}

@keyframes flash {
   0% {
      opacity: 1.0;
   }

   50% {
      opacity: 0.5;
   }

   100% {
      opacity: 1.0;
   }
}

/* //Firefox 1+ */
@-webkit-keyframes flash {
   0% {
      opacity: 1.0;
   }

   50% {
      opacity: 0.5;
   }

   100% {
      opacity: 1.0;
   }
}

/* //Safari 3-4 */
@-moz-keyframes flash {
   0% {
      opacity: 1.0;
   }

   50% {
      opacity: 0.5;
   }

   100% {
      opacity: 1.0;
   }
}


.btn-lg {
   padding: 10px 10px;
   font-size: 20px;
   border-radius: 10px;
   width: 30%;
}



/*--------------------------------------------Login & Registration styles*/
@import url('https://fonts.googleapis.com/css?family=Numans');

.reg-log-img {

   background-image: url("../../static/img/snowstar.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;

   height: 100%;
   font-family: 'Numans', sans-serif;
}

.container {
   height: 100%;
}

.card {
   padding: 5px 100px;
   height: 320px;
   margin-top: 180px;
   margin-bottom: auto;
   width: 400px;
   background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-body {
   padding: 0px !important;
}

.card-header h3 {
   color: white;
}


.input-group-prepend span {
   width: 50px;
   background-color: #1816CA;
   color: white;
   border: 0 !important;
}

input:focus {
   outline: 0 0 0 0 !important;
   box-shadow: 0 0 0 0 !important;

}

.login_btn,
.reg_btn {
   color: white;
   background-color: #1816CA;
   width: 100px;
}

.login_btn:hover,
.reg_btn:hover {
   color: black;
   background-color: white;
}

/*--------------------------------------------Formhelpers styles*/
.help-inline {

   color: white !important;
}




/*--------------------------------------------Footer styles*/


footer,
footer {
   color: #fff;
   text-decoration: none;
   margin-bottom: 0px;
   padding-bottom: 0px;
}

div>a {
   color: #b0c4de;
   font-weight: 500;


}

footer {
   position: fixed;
   margin: auto;
   height: 100px;
   width: 100%;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1030;
}

/*--------------------------------------------Image styles*/
.img-riddles {

   width: 360px;
   height: 290px;
   border-radius: 1.5rem !important;
   display: block;
   margin-left: auto;
   margin-right: auto;

}

/*--------------------------------------------Riddle page styles*/
.riddle-styles {
   margin-top: 6rem;
}

/*--------------------------------------------Flash messages styles*/
.alert {
   position: relative;
   padding: .75rem 1.25rem;
   margin-bottom: 0px !important;
   margin-top: 0px !important;
   /* margin-top: 1rem !important;*/
}