html,
body {
   width: 100%;
   height: 100%;
   margin: 0px;
   background-color: whitesmoke;

}


/*--------------------------------------------Images&Cards*/

.thumbnail img {
   height: 400px;
   width: 100%;
   box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);
}


.card-riddle {
   box-shadow: 3px 4px 7.4px 0.6px rgba(0, 0, 0, 0.2);
}

.card-riddle,
.card-text-riddle {
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;

}

.card-body-riddle {
   padding: 5px;
}


.riddle-card {
   color: #fff;
   background-color: black;
}

/*--------------------------------------------Jumbotron styles*/

.style-one {
   margin-top: 80px;
   margin-bottom: 30px;
   color: #ffffff;
   background-image: url("../../static/img/hia.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.style-two {
   margin-top: 80px;
   margin-bottom: 30px;
   color: black;
   background-image: url("../../static/img/landscape.jpeg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}


/*--------------------------------------------Flash button styles*/
/* Found at https://bytutorial.com/blogs/css3/how-to-create-a-flashing-button-using-css3 */

.flash-button {
   background: blue;
   padding: 5px 10px;
   color: #fff;
   border: none;
   border-radius: 5px;

   animation-name: flash;
   animation-duration: 1s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;

   //Firefox 1+
   -webkit-animation-name: flash;
   -webkit-animation-duration: 1s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;

   //Safari 3-4
   -moz-animation-name: flash;
   -moz-animation-duration: 1s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
}

@keyframes flash {
   0% {
      opacity: 1.0;
   }

   50% {
      opacity: 0.5;
   }

   100% {
      opacity: 1.0;
   }
}

//Firefox 1+
@-webkit-keyframes flash {
   0% {
      opacity: 1.0;
   }

   50% {
      opacity: 0.5;
   }

   100% {
      opacity: 1.0;
   }
}

//Safari 3-4
@-moz-keyframes flash {
   0% {
      opacity: 1.0;
   }

   50% {
      opacity: 0.5;
   }

   100% {
      opacity: 1.0;
   }
}




/*--------------------------------------------Login & Registration styles*/
@import url('https://fonts.googleapis.com/css?family=Numans');

.reg-log-img {

   background-image: url("../../static/img/butterfly.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   /* background-position: center; */
   /* display: block;
   width: 100%; */
   /* margin: 0%;
   padding: 0%; */
   height: 100%;
   font-family: 'Numans', sans-serif;
}

.container {
   height: 100%;
   /* width: 100%; */
   /* align-content: center; */
}

.card {
   padding: 5px 100px;
   height: 275px;
   margin-top: 180px;
   margin-bottom: auto;
   width: 400px;
   background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-body {
   padding: 0px !important;
}

.card-header h3 {
   color: white;
}


.input-group-prepend span {
   width: 50px;
   background-color: #1816CA;
   color: white;
   border: 0 !important;
}

input:focus {
   outline: 0 0 0 0 !important;
   box-shadow: 0 0 0 0 !important;

}

.login_btn,
.reg_btn {
   color: white;
   background-color: #1816CA;
   width: 100px;
}

.login_btn:hover,
.reg_btn:hover {
   color: black;
   background-color: white;
}

/*--------------------------------------------Formhelpers styles*/
.help-inline {
   color: white !important;
}