{% extends 'base.html' %}
{% block content %}
<div class="container riddle-styles">
   {% from "includes/_formhelpers.html" import render_field %}
   {% if correct_answer %}
   <!-- On correct answer display "next question button", animal image and animal eternal link. -->
   <form method="POST" action="/next_question">
      <div class="form-group">
         <h3><strong>{{ answer }}</strong></h3>
      </div>
      <div class="form-group text-center">
         <h6><strong>Find out more about this animal <a href="{{ links }}" target="blank">here</a></strong></h6>
      </div>

      <div class="form-group img-circle">
         <img src="{{ image }}" class="img-riddles" alt="{{ answer }}" />
      </div>
      <div class="text-center">
         {% if last_question %}
         <input class="btn btn-primary btn-lg" type="submit" name="finish" value="Finish">
         {% else %}
         <input class="btn btn-primary btn-lg" type="submit" name="next" value="Next Question">
         {% endif %}
      </div>
   </form>
   {% else %}
   <!-- On incorrect answer display the question again and the wrong answer given. -->
   <form method="POST" action="/riddle" class="mt-5">
      <div class="wrapper question_styles">
         <div class="form-group">
            <h4><strong>{{ question }}</strong></h4>
         </div>
         <div class="form-group">
            <h4><strong>Answer: </strong></h4>
            <p> <input type="text" name="answer" class="form-control answer-box-style" required="required"></p>
            <p> <input class="btn btn-primary btn-lg" type="submit" value="Check"></p>
         </div>
      </div>
   </form>
</div>
{% endif %}
{% endblock content %}