{% extends 'base.html' %}

{% block content %}
<div class="wrapper reg-log-img ">
   <div class="d-flex justify-content-center ">
      <div class="card">
         <div class="card-body text-center">
            {% from "includes/_formhelpers.html" import render_field %}
            <form action="" method="POST">
               <div class="input-group form-group">
                  <div class="form-group">
                     <br>
                     {{render_field(form.name, class_="form-control")}}
                  </div>
               </div>
               <div class="input-group form-group">
                  <div class="form-group">
                     {{render_field(form.password, class_="form-control")}}
                  </div>
               </div>
               <div class="form-group">
                  <input type="submit" value="Register" class="btn reg_btn">
               </div>
               <div class="">
                  <small class="text-muted">
                     Already Have An Account? <a class="" href="{{ url_for('login') }}">Sign In</a>
                  </small>
               </div>
            </form>
         </div>
      </div>
   </div>

</div>
</div>
{% endblock content %}