{% extends 'base.html' %}

{% block content %}
<div class="jumbotron style-one text-center">
   <h1>Animal Riddle Game</h1>
   <p class="lead pt-4">This application is a Code Institute project, built with Python & Flask</p>
   <h2 class="text-center"><small>Welcome {{session.name}}</small></h2>

   <button type="button" class="flash-button" href="">Play Quiz</button>
</div>
<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12  col-md-4 h-100">
         <div class="thumbnail">
            <img class="mb-4  img-fluid rounded" src="static/img/wolf.jpg" alt="Two wolves">
         </div>
      </div>
      <div class="card col-sm-12  col-md-4  h-100 mb-4 ">
         <img class="card-img-top img-fluid w-100" src="static/img/yesplease.png" alt="Card image cap">
         <div class="card-body riddle-card">
            <p class="card-text">
               <h1 class="text-center">Rules:</h1>

               <div class="text-left">
                  <ol>
                     <li>Maximum three attempts per riddle</li>
                     <li>Five points for each correct answer</li>
                     <li>Lose one point for each wrong answer</li>
                  </ol>
                  <br>
               </div>


         </div>
      </div>
      <div class="col-sm-12  col-md-4 h-100">
         <div class="thumbnail">
            <img class="mb-4 img-fluid rounded" src="static/img/parrotbig.jpg" alt="A parrot">
         </div>
      </div>
   </div>
</div>

{% endblock content %}