{% extends 'base.html' %}
{% block content %}
<div class="container">
   <div class=" container-fluid jumbotron style-one text-center">
      <h1>Animal Riddle Game</h1>
      <p class="lead pt-4"><strong>This application is a Code Institute project, built with Python & Flask</strong></p>
      <!-- User are welcomed by their unique username. -->
      <h2 class="text-center text-white">Welcome {{session.name}}</h2>
      <br>
      <!-- Link to play quiz page. -->
      <a class="btn flash-button btn-success btn-lg button-styles flash-button" href="{{ url_for('play_quiz') }}">Play
         Quiz</a>
   </div>
   <div class="container-fluid mb-5">
      <div class="row">
         <div class="d-none d-md-block col-md-4 h-100">
            <div class="thumbnail">
               <!-- Animal image. -->
               <img class="mb-4  img-fluid rounded" src="static/img/wolf.jpg" alt="Two wolves">
            </div>
         </div>
         <div class="card-riddle col-sm-12  col-md-4  h-100 mb-4 order-sm-
         first">
            <!-- Riddle card with riddle rules. -->
            <img class="card-img-top img-fluid w-100" src="static/img/yesplease.png" alt="A riddle image">
            <div class="card-body-riddle riddle-card">
               <p class="card-text-riddle">
                  <div>
                     <br>
                     <ol>
                        <li>
                           <strong>Three attempts allowed per riddle</strong>
                        </li>
                        <br>
                        <li>
                           <strong>Five points for each correct answer</strong>
                        </li>
                        <br>
                        <li>
                           <strong>Lose a point for each wrong answer</strong>
                        </li>
                     </ol>
                  </div>
            </div>
         </div>
         <div class="col-sm-12  col-md-4 h-100">
            <div class="thumbnail">
               <!-- Animal image. -->
               <img class="mb-4 img-fluid rounded" src="static/img/parrotbig.jpg" alt="A parrot">
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}